<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"
  />
  <link
    rel="stylesheet"
    href="/styles/simple.min.css"
  >
  <link
    rel="stylesheet"
    href="/styles/custom.css"
  >
  <title>Air Quality Application</title>
</head>

<body>
  <header>
    <h1>AQA - Air Quality App</h1>
    <nav><a href="/index.php">Overview</a></nav>
  </header>
